[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
alembic = "*"
pydantic = {extras = ["email"], version = "*"}
python-multipart = "*"
python-jose = "*"
cryptography = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[requires]
python_version = "3.8"
